# Frameworks da API
fastapi
uvicorn[standard]
Flask

# IA e Processamento
google-generativeai
sentence-transformers
scikit-learn
beautifulsoup4

# Utilitários
python-dotenv
requests

fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
lxml
google-generativeai
sentence-transformers
numpy
cryptography
